<div id ="pins" class="transitions-enabled">
	<% @pins.each do |pin| %>
		<div class="box">
			<div class="panel panel-default">
				<%= link_to (image_tag pin.image.url),pin %>
				<h2>
					<%=link_to pin.title,pin %>
				</h2>
				<p class="user">
					Submitted By:
					<%=pin.user.email%>
				</p>
			</div>
		</div>
		<div class="panel-body">
				
			<%end%>
		</div>
	</div>


